header.header
    .header__top
        .container
            include contacts
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="Logotype Picture")
            include nav
            a.button.button--red(href="#") Free Consultation

    .header__bottom